nced (*really* enhanced) debugging information in the logs
# If you want to have debugging of the config file parsing, move this option
# to the top of the config file and uncomment
# Debug=YES

# The person who gets all mail for userids < 1000
# Make this empty to disable rewriting.
root=[enter a valid email address]

# The place where the mail goes. The actual machine name is required
# no MX records are consulted. Commonly mailhosts are named mail.domain.com
mailhub=[your smtp server]

# Example for SMTP port number 2525
# mailhub=mail.your.domain:2525
# Example for SMTP port number 25 (Standard/RFC)
# mailhub=mail.your.domain        
# Example for SSL encrypted connection
# mailhub=mail.your.domain:465

# Where will the mail seem to come from?
# rewriteDomain=[a different domain here, if needed ]

# The full hostname, should auto-detect
# hostname=[ enter the hostname here, set rDNS ]

# Set this to never rewrite the "From:" line (unless not given) and to
# use that address in the "from line" of the envelope.
# Enable if you trust your users (ha!)
# FromLineOverride=YES

# If you have to login set these:
AuthUser=[ the username for the smtp server]
AuthPass=[ the password for the smtp server]

# Use SSL/TLS to send secure messages to server.
#UseTLS=YES

# Use SSL/TLS certificate to authenticate against smtp host.
#UseTLSCert=YES

# Use this RSA certificate.
#TLSCert=/etc/ssl/certs/ssmtp.pem
